@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#contact-us {
    margin: 0px auto;
}

h2 {
    color: white;
    text-decoration: underline;
}
form {
    max-width: 420px;
}

.contact-input {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid red;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.contact-input:focus {
    border: 2px solid white;
}

textarea {
    height: 150px;
    line-height: 150px;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:red;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:white; 
    color: black;
}

:root {
    --background: #282828;
 }

 /*Contact us css*/
 #contact-us {
     padding-top: 200px;
 }

/*Navbar css*/
h1 span {
    color: red;
}

h1 a {
    color: white;
    text-decoration: none;
}

.logo {
    color: white;
    /*margin: 0 removes space around logo*/
}

body {
    padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

header {
    margin: 0;
    padding: 0;
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


nav ul li ul {
    display: none;
    position: absolute;
    background-color: var(--background);
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}
nav ul li ul a {
    padding: 0px 25px;
}

@media screen and (min-width: 750px){
.nav-toggle-label{
    display: none;
}
    
header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 4fr) 1fr;
}
    
.logo {
    grid-column: 2 / span 1;
}

nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
    
nav a {
    opacity: 1;
    position: relative;
}
    
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
    
nav ul {
    display: flex;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: red;
    position: absolute;
    top: -.45em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
        
}
    
nav a:hover::before {
    transform: scale(1,1);
    }   
}

.wrapper {
    padding-top: 35px;
}

.au-image h1 {
    font-size: 4em;
    align-content: center;
    text-align: center;
    padding-top: 280px;
    color: white;
    text-decoration: underline;
}

.au-image {
    background-image: url(../img/aboutusimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 600px;
    background-color: #282828;
}

.au-content {
    padding-bottom: 300px;
}

.au-content h2 {
    text-decoration: none;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 2.5em;
    text-align: center;
    color: black;
}

.au-content p {
    padding-top: 40px;
    text-align: center;
}

.au-content hr {
    margin-top: 70px;
    width:25%;
}

/*footer css*/
footer {
    width: 100%;
    display: inline-block;
    height: 70px;
    margin: 2em 0;
    background-color: #282828;
}
.copyright {
    width: 50%;
    float: left;
}
footer p {
    text-align: center;
    padding-left: 10%;
    color: white;
    font-size: 0.8em;
    line-height: 75px;
    letter-spacing: 1px;
}

.social {
    width: 50%;
    float: right;
}
.social a {
    float: left;
    line-height: 75px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.contact{
    width: 25%;
    background-color: #ff4e57;
}

.fb {
    width: 10%;
    background-color: #0479ff;
}

.tw {
    width: 10%;
    background-color: #04d9ff;
}

.insta {
    width: 10%;
    background-color: #ed28ff;
}